body {
	font-family: 'Montserrat', sans-serif;
}
main {
	position: relative;
	padding-top: 2vh;
	margin: 0 15vw;
	border-radius: 15px;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	height: 300px;
	width: 300px;
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	background-color: rgba(237, 233, 233, 0.5);
	cursor: pointer;
	font-size: 4rem;
	text-align: center;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	width: 100px;
	height: 100px;
	background-color: #fff;
}
.winner {
	margin: 1rem 0;
	font-size: 3rem;
	text-align: center;
}
.box:hover {
	transform: scale(1.05);
}

.test {
	z-index: -1;
}
.test2 {
	z-index: +100;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	margin: 0.6rem 0;
	width: 30vw;
	border-radius: 15px;
}
.top-section {
	display: flex;
	flex-direction: row;
}
header {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.new_game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 3rem;
	margin: 5vh 25vw;
}
.img_container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.osiol {
	margin-top: 2vh;
	height: 120px;
}
.reset {
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	transition: transform 0.4s;
	font-size: 1.2rem;
}
.reset:hover {
	transform: scale(1.05);
}

.dark-md {
	background-color: #000;
	color: white;
	border-color: white;
}
#bulb-container {
	display: flex;
	flex-direction: row-reverse;
}
#bulb {
	font-size: 2rem;
	padding: 5px;
}
